.profilebar:hover {
  transform: scale(1.01);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.profilebar {
  transition: 0.3s ease-in-out;
  align-self: flex-end;
  width: fit-content;
  padding: 5px 15px;
  height: fit-content;
  background: rgba(255, 255, 255, 0.773);
  border-radius: 50px;
  display: flex;
  gap: 15px;
  align-items: center;
  cursor: pointer;

  div {
    display: flex;
    align-items: center;
  }

  div:nth-child(1) {
    img {
      width: 45px;
    }

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 100px;
  }

  div:nth-child(2) {
    h3 {
      font-weight: 400;
      font-size: 18px;
      letter-spacing: 0.03em;
      color: rgba(17, 23, 75, 0.73);
    }
  }

  div:nth-child(3) {
    svg {
      width: 10px;
      fill: #11174bce;
    }
  }
}
